<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Projecy</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <header>
      <nav>
        <button>sign up</button>
        <button>log in</button>
      </nav>
    <h1>SMASH HIT LIKE </h1>
    </header>
    <main>
      <div class="filter-div">
        <input type="text" name="search" placeholder="search for video">
      </div>
      <section>
        <article class="">
          <video src="videofile.ogg" autoplay poster="posterimage.jpg">

          </video>
        </article>
        <article class="">

        </article>
      </section>
      <section>
        <!--horizontal video viewer-->
      </section>
    </main>
  </body>
</html>
