<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Projecy</title>
    <script src="https://kit.fontawesome.com/5af6d749d4.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header> 
    <button class="ham-btn"><i class="fas fa-bars hamburger"></i></button>
      <nav>
        <div class="modal modal-login">
          <div class="modal-content">
              <div class="modal-header">
              <h1>Log In</h1>
              </div>
              <div class="modal-body">
                  <form action="/user/login" method="POST" class="form">
                      <input type="text" name="name" placeholder="name">
                      <input type="password" name="password" placeholder="password">
                      <button class="log-in-modal btn">Log In</button>
                  </form>
                   <button class="sign-up-btn btn">sign up</button>
        <div class="modal modal-signup">
              </div>
          </div>
        </div>
        <div class="modal modal-login">
          <div class="modal-content">
              <div class="modal-header">
              <h1>Sign Up</h1>
              </div>
              <div class="modal-body">
                  <form action="/user/signup" method="POST" class="form">
                      <input type="text" name="name" placeholder="name">
                      <input type="email" name="email" placeholder="email">
                      <input type="password" name="password" placeholder="password">
                      <input type="password" name="passwordcheck" placeholder="password check">
                      <button class="sign-up-modal btn">Sign Up</button>
                  </form>
              </div>
          </div>
        </div>
              </div>
          </div>
      </div>
      </nav>
    <h1>FORTNITE MANIA </h1>
    </header>
    <main>
      <div class="filter-div">
        <input type="text" name="search" placeholder="search for video">
      </div>
      <section>
        <article class="">
          <video src="videofile.ogg" autoplay poster="posterimage.jpg">

          </video>
          <div class="vid-info-home">
          <span>Info:</span>
          <span><i class="fas fa-thumbs-up"></i></span>
          <span><i class="fas fa-thumbs-down"></i></span>
          </div>
        </article>
      </section>
      <section>
        <!--horizontal video viewer-->
      </section>
    </main>
    <script src="js/app.js"></script>
  </body>
</html>
