@font-face {
    src: url(/fonts/fortnite.ttf);
    font-family: fortnite;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: fortnite;
    color: #03A9F4;
}
@media screen and (min-width: 700px) {

}

body {
    margin: 0px 50px;
}

/*  MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.5);
}

.modal-content {
    background: white;
    margin: 6% auto;
    padding: 20px;
    width: 80%;
    height: 50%;
    border-radius: 18px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    animation-name: modalOpen;
    animation-duration: 1.5s;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal p {
    text-align: center;
}

.modal-header {
    color: #2196F3;
    margin-bottom: 40px;
}

.modal-header h1 a {
    text-align: center;
    color: #03A9F4;
}

.modal-header h1 {
    text-align: center;
    color: #03A9F4;
}

.modal-header a {
    color: #673ab7;
}

/*   general     */

header {
    background: #03A9F4;
    color: white;
    height: 80px;
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
}

nav {
    text-align: right;
}

header h1 {
    text-align: center;
    position: relative;
    font-size: 2em;
    color: white;
    position: relative;
    top: 15px;
}

iframe {
    height: 230px;
    border: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    color: gray;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section article {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.edit-user{
    display: none;
}

.main-vid {
    height: 235px;
    width: 100%;
}

.side-vid {
    height: 100px;
    width: -webkit-fill-available;
}

.filter-div {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.filter-div input {
    height: 21px;
    font-size: 1em;
}

.title-div {
    letter-spacing: 3px;
    text-align: center;
}

.title-div h2:nth-child(2) {
    font-size: .8em;
}

.info-div {
    display: flex;
    justify-content: space-evenly;
    font-size: 1,2em;
    margin: 5px 0px;
    letter-spacing: 1px;
}

.info-div i {
    font-size: 1em;
}

footer {
    text-align: center;
}

.socialmedia i {
    font-size: 3em;
    margin: 5px;
}

/*  Button Input  */

.btn {
    background: #673ab7;
    color: black
}

.icon-btn {
    background: #03a9f4;
    color: white;
    font-size: 1em;
}

.home-icon {
    color: white;
}

.ham-btn i {
    font-size: 2em;
}

.ham-btn, .home-btn, .logged-btn {
    border: 0px;
    background: none;
    padding: 5px;
}

.home-btn {
    color: white;
    font-size: 24px;
}

.edit-btn {
    align-self: center;
}

input, .btn {
    text-align: center;
    width: 100%;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;
    border: 0;
    font-size: 1.3em;
    height: 24px;
    margin-bottom: 10px;
    background: rgba(0,0,0,0);
}

input:hover, .btn:hover {
    box-shadow: 0 0 5px #2196F3;
}

.upload-btn {
    width: 23%;
    margin-bottom: 20px;
}

.comment-btn-div button {
    width: 80px;
    height: 21px;
    margin: 2px;
}
.cancel-btn {
    width: 81px;
    height: 21px;
    align-self: flex-end;
    position: relative;
    right: 87px;
    bottom: 23px;
}

.user-vid-list button {
    width: 23%;
}

/*  user index  */

.user-sec {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.user-sec article:nth-child(2) {
    width: 40%;
}

.center-art {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    margin-right: 14px;
}

.user-vid {
    width: 100%;
}

.user-vid-list {
    margin-top: 3px;
}

.edit-form{
    display: none;
}

.user-footer {
    position: relative
    top 100px;
}

/*  home index  */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-btn-div {
    display: flex;
    justify-content: space-between;
    height: 20px;
    z-index: 100;
}

.info-div span:nth-child(1) {
    align-self: center;
}

.vid-info-home {
    display: flex;
    justify-content: space-evenly;
}

.scrollmenu {
    display: flex;
    overflow: scroll;
    height: 175px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    padding: 10px 0px;
}

.scrollmenu a {
  text-align: center;
  letter-spacing: 1px;
  font-size: .6em;
}

.scrollmenu a:hover {
  background-color: #777;
}

.vid-container{

}

.vid-player {
    padding-right: 13px;
}

.popular {
    display: flex;
}

.popular-vid {
    width: 60%;
}

.popular-user {
    margin-left: 13px;
}

.popular-user h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

/*    show     */

.show-art h1 {
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.show-comments {
    height: 200px;
    display: flex;
    flex-direction: column;
}

textarea {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #2196F3;
    font-size: 20px;
}

.comment-btn-div {
    text-align: right;
}


/*  KEY FRAMES  */

@keyframes modalOpen {
    from {opacity: 0;}
    to {opacity: 1;}
}
