@font-face {
    src: url(/fonts/fortnite.ttf);
    font-family: fortnite;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: fortnite;
    color: #03A9F4;
}



body {
    margin: 0px 50px;
}

/*  MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.5);
}

.modal-content {
    background: white;
    margin: 6% auto;
    padding: 20px;
    width: 80%;
    height: 50%;
    border-radius: 18px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    animation-name: modalOpen;
    animation-duration: 1.5s;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal p {
    text-align: center;
}

.modal-header {
    color: #2196F3;
    margin-bottom: 40px;
}

.modal-header h1 a {
    text-align: center;
    color: #03A9F4;
}

.modal-header h1 {
    text-align: center;
    color: #03A9F4;
}

.modal-header a {
    color: #673ab7;
}

.modal-header h6 {
    text-align: left;
    font-size: 1.5em;
}

/*   general     */

header {
    background: #03A9F4;
    color: white;
    height: 108px;
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
}

nav {
    text-align: right;
}

header h1 {
    text-align: center;
    font-size: 5em;
    color: white;
    position: relative;
    top: 15px;
}

iframe {
    height: 230px;
    border: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    color: gray;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section article {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-vid {
    height: 235px;
    width: 100%;
}

.side-vid {
    height: 100px;
    width: 200px;
}

.filter-div {
    display: flex;
    justify-content: center;
    margin: 9px 0px;
}

.filter-div input {
    height: 21px;
    font-size: 1em;
    box-shadow: 0px 0px 10px #03A9F4;
}

.title-div {
    letter-spacing: 3px;
    text-align: center;
}

.title-div button {
    width: 100%;
    height: 21px;
    font-size: 1.2em;
}

.title-div h2 {
    font-size: .8em;
}

.info-div {
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0px;
    letter-spacing: 1px;
}

.info-div i {
    font-size: 2em;
}

footer {
    text-align: center;
}

.socialmedia i {
    font-size: 3em;
    margin: 5px;
}

/*  Button Input  */

.btn {
    background: #673ab7;
    color: black
}

.like-btn, .dislike-btn {
    border: 0px
}

.ham-icon, .home-icon {
    background: #03a9f4;
    color: white;
    font-size: 4em;
}

.ham-btn, .home-btn, .logged-btn {
    border: 0px;
    background: none;
    padding: 5px;
}

.edit-btn {
    align-self: center;
}

input, .btn {
    text-align: center;
    width: 100%;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;
    border: 0;
    font-size: 1.3em;
    height: 24px;
    margin-bottom: 10px;
    background: rgba(0,0,0,0);
}

input:hover, .btn:hover {
    box-shadow: 0 0 5px #2196F3;
}

.upload-btn {
    width: 23%;
    margin-bottom: 20px;
}

.comment-btn-div button {
    width: 80px;
    height: 21px;
    margin: 2px;
}
.cancel-btn {
    width: 81px;
    height: 21px;
    align-self: flex-end;
    position: relative;
    right: 87px;
    bottom: 23px;
}

.user-vid-list button {
    width: 23%;
}

/*  user index  */

.main-vid-user {
    border: 0px;
    width: 100%;
    height: 341px;
}

.edit-user, .modal-edit-vid{
    display: none;
}

.user-sec {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.user-sec article:nth-child(2) {
    width: 40%;
    height: 398px;
    overflow: scroll;
}

.center-art {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 10px;
    margin-right: 14px;
}

.user-vid {
    width: 100%;
}

.user-vid-list {
    margin: 15px 0px;
}

.edit-form{
    display: none;
}

.user-footer {
    position: relative;
    top: 64px;
}

/*  home index  */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-btn-div {
    display: flex;
    justify-content: space-between;
    height: 20px;
    z-index: 100;
}

.info-div span:nth-child(1) {
    align-self: center;
    font-size: 1.5em;
}

.vid-info-home {
    display: flex;
    justify-content: space-evenly;
}

.scrollmenu {
    display: flex;
    overflow: scroll;
    height: 140px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    padding: 10px 0px;
}

.scrollmenu a {
  text-align: center;
  letter-spacing: 1px;
  font-size: .6em;
}

.vid-container {
    margin-right: 13px;
}

.popular {
    display: flex;
}

.popular-vid {
    width: 60%;
}

.popular-user {
    margin-left: 13px;
}

.popular-user h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

/*    show     */

.show-art h1 {
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.show-comments {
    height: 200px;
    display: flex;
    flex-direction: column;
}

textarea {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #2196F3;
    font-size: 20px;
}

.comment-btn-div {
    text-align: right;
}

.socialmedia i:hover {
   transform: scale(1.5);
}


@media screen and (max-width: 935px)  {

    .popular-vid {
        width: 76%;
    }
}

@media screen and (max-width: 900px) {
    body {
        margin: 0px;
    }

    header h1 {
        font-size: 4em;
    }
}

@media screen and (max-width: 600px) {

    header {
        height: 92px;
    }

    header h1 {
        font-size: 3em;
    }

    .popular {
        display: block;
    }

    .popular-vid {
        width: 100%;
    }

    .popular-user {
        display: none;
    }

    .info-div i {
        font-size: 1.5em;
    }

    .user-sec {
        flex-direction: column;
    }

    .center-art {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: 0px;
    }

    .user-sec article:nth-child(2) {
        width: 100%;
        padding-left: 7px;
    }

    .upload-btn {
    width: 43%;
    margin-bottom: 20px;
    border-radius: 6px;
    background: white;
    height: 28px;
    }

    .user-footer {
        position: relative;
        top: 0px;
    }
}

@media screen and (max-width: 500px) {

    header {
        height: 82px;
    }

    header h1 {
        font-size: 2em;
    }

    .ham-icon, .home-icon {
        font-size: 3em;
    }

    .socialmedia i {
        font-size: 2em;
    }

    .scrollmenu {
        flex-direction: column;
    }

    .vid-container {
        display: flex;
    }

    .title-div {
        padding-left: 11px;
    }

    .side-vid {
        width: 100%;
    }
}



/*  KEY FRAMES  */

@keyframes modalOpen {
    from {opacity: 0;}
    to {opacity: 1;}
}
