@font-face {
    src: url(/fonts/fortnite.ttf);
    font-family: fortnite;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: fortnite;
    color: #03A9F4;
}

/*  MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.5);
}

.modal-content {
    background: white;
    margin: 6% auto;
    padding: 20px;
    width: 80%;
    height: 50%;
    border-radius: 18px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    animation-name: modalOpen;
    animation-duration: 1.5s;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal p {
    text-align: center;
}

.modal-header {
    color: #2196F3;
    margin-bottom: 40px;
}

.modal-header h1 {
    text-align: center;
    color: #03A9F4;
}

.modal-header a {
    color: #673ab7;
}

/*   general     */

header {
    background: #03A9F4;
    color: white;
    height: 158px;
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
}

nav {
    text-align: right;
}

header h1 {
    text-align: center;
    position: relative;
    font-size: 5em;
    color: white;
}

iframe {
    width: 100%;
    height: 230px;
    border: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    color: gray;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article:nth-child(1) {
    padding-bottom: 4px;
}

section article {
    margin: 1% auto;
    width: 100%;
}

.center-art {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.edit-user{
    display: none;
}

.main-vid {
    height: 450px;
}

.side-vid {
    height: 200px
}

.filter-div {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.filter-div input {
    height: 40px;
    font-size: 34px;
}

.title-div {
    letter-spacing: 3px;
}

.info-div {
    display: flex;
    justify-content: space-evenly;
    font-size: 34px;
    margin: 20px 0px;
}

.info-div i {
    font-size: 34px;
}

footer {
    text-align: center;
}

footer i {
    font-size: 34px;
    margin: 5px;
}

/*  Button Input  */

.btn {
    background: #673ab7;
    color: black
}

.icon-btn {
    background: #03a9f4;
    color: white;
    font-size: 45px;
}

.ham-btn, .home-btn, .logged-btn {
    border: 0px;
    background: none;
    padding: 5px;
}

.home-btn {
    color: white;
    font-size: 24px;
}

.edit-btn {
    align-self: center;
}

input, .btn {
    text-align: center;
    width: 80%;
    font-weight: bold;
    letter-spacing: 7px;
    border-radius: 5px;
    border: 0;
    font-size: 30px;
    height: 50px;
    margin-bottom: 10px;
    background: rgba(0,0,0,0);
}

input:hover, .btn:hover {
    box-shadow: 0 0 5px #2196F3;
}

.upload-btn {
    width: 23%;
    margin-bottom: 20px;
}

.dislike-btn, .like-btn {
    border: 0px;
    font-size: 23px;
}

.comment-btn-div button {
    width: 80px;
    height: 21px;
    margin: 2px;
}
.cancel-btn {
    width: 81px;
    height: 21px;
    align-self: flex-end;
    position: relative;
    right: 87px;
    bottom: 23px;
}

.user-vid-list button {
    width: 23%;
}

/*  user index  */

.user-vid {
    width: 90%;
}

.user-vid-list {
    margin-top: 3px;
}

.edit-form{
    display: none;
}



/*  home index  */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-btn-div {
    display: flex;
    justify-content: space-between;
    height: 20px;
    z-index: 100;
}

.info-div span:nth-child(1) {
    align-self: center;
}

.vid-info-home {
    display: flex;
    justify-content: space-evenly;
}

div.scrollmenu {
    overflow: scroll;
    height: 576px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    padding: 43px 0px;
}

div.scrollmenu a {
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 20px;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.vid-container{
    display: flex;
}

.vid-player {
    width: 61%;
    padding-right: 22px;
}

/*    show     */

.show-art h1 {
    text-align: center;
    font-size: 36px;
    letter-spacing: 2px;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.show-comments {
    height: 200px;
    display: flex;
    flex-direction: column;
}

textarea {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #2196F3;
    font-size: 20px;
}

.comment-btn-div {
    text-align: right;
}

/*  KEY FRAMES  */

@keyframes modalOpen {
    from {opacity: 0;}
    to {opacity: 1;}
}
