<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <header>
        <h1><%=user.name%></h1>
    </header>
    <main>
        <section>
            <article>
                <video>
                </video>
                <div>
                    <span></span>
                    <span></span>
                </div>
            </article>
            <article>
                <ul>
                    <%for(let i = 0; i < user.video.length; i++) {%>
                        <li>
                            <h1></h1>
                            <form action="/user/:id/deletevideo?_method=DELETE" method="POST">
                                <button>Delete</button>
                            </form>
                        </li>
                    <%}%>
                </ul>
                <form action="/videos" method="post">
                  <input type="text" name="title" placeholder="Add title"></br>
                  <textarea name="name" rows="4" cols="40"placeholder="Add video description"></textarea>
                </form>
                <button name="upload-btn">Upload</button>
                <d iv class="modal modal-upload">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1>Upload your Video!</h1>
                        </div>
                        <div class="modal-body">
                            <form action="/user" method="POST">
                                <input type="text" name="url" placeholder="url">
                                <input type="text" name="title" placeholder="title">
                                <input type="text" name="info" placeholder="info">
                                <button class="upload-submit-btn">UpLoad</button>
                             </form>
                        </div>
                    </div>
                </div>
            </article>
            <div>
            </div>
        </section>
    </main>
    <footer>
        <button class="account-btn">Account</button>
        <div class="modal modal-account">
          <div class="modal-content">
                <div class="modal-header">
                    <h1>Account</h1>
                </div>
                <div class="modal-body">
                    <a href="/user/logout">Logout</a>
                    <form action="/user/<%=user._id%>?_method=DELETE" method="POST">
                        <button>Delete</button>
                    </form>
              </div>
          </div>
        </div>
    </footer>
<script src="/js/userIndex.js"></script>
</body>
</html>
