<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Videos</title>
  </head>
  <body>
    <p>search bar goes here</p>
    <p>list of videos go here, user name likes etc.</p>
    <p>page numbers</p>
  </body>
</html>
