<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Videos</title>
  </head>
  <body>
    <h1>user name and video title</h1>
    <p>video description on bottom</p>
    <p>clicking logo goes home or home button</p>
    <p>show random vids here</p>
    <p>need page number</p>
    <p>likes will have to count user AND video total</p>
    <p>display if vid is good or not?</p>
    <p>needs to link to user account</p>
  </body>
</html>


//DONT COMMIT UNTIL YOU PULL
