<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>fortnite</title>
    <script src="https://kit.fontawesome.com/5af6d749d4.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    HIHIHIHI
    <div class="home-btn-div">
        <button class="home-btn"><a href="/"<i class="fas fa-home hamburger"></a></i></button>
        <button class="ham-btn"><i class="fas fa-bars hamburger"></i></button>
    </div>
    
  </body>
</html>
