<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>show user partial</p>
    <p>show selected video</p>
    <p>show video list aside?</p>
    <p>likes will have to count user AND video total</p>
  </body>
</html>
