<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Video title goes here</title>
  </head>
  <body>
    <p>user likes/dislikes add comment? aside videos</p>
  </body>
</html>
